.global-btn{
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 7px;
  font-weight: 500;
  letter-spacing: 0.6px;
}

.primary-btn{ 
  border: 1px solid #0F6274;
  background-color: #0F6274;
  color: white;
}


.secondary-btn{

  border: 1px solid  rgba(169, 182, 194, 0.5);
  background-color: white;
  color: 000000;
 
  
}
.tertary-btn{
  border: 1px solid #83C417;
  background-color: #83C417;
  color: white;

}

.decent-btn{
  border: 1px solid  #EEECEC;
  background-color:  #EEECEC;
  color: #A6A1A1
  ;

}


.Cardstyledate{
  background-color: white;
  padding: 10px 20px;
  color: #83C417;
  border-radius: 10px;
}


/* primary -#0F6274 */
/* secondary --#A9B6C2 */


body{
  background-color: #f1f7f7;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
tfoot td{
  background-color: red;
}

tr:hover {background-color: coral;}